@use 'base/mixins' as m;
@use 'base/variables' as v;

.bar{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
    }

    &__navigation{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
            
        }
    }

    &__elements{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include m.tablet{
            flex-direction: row;
            justify-content: space-between;
            
        }
    }
}
.navigation{
    &__link{
        @include m.links-center;
    }
}