@use 'base/mixins' as m;
@use 'base/variables' as v;

.top-bar{

  background-position: center;
  position: relative;

  &__container{
    @include m.container;
    display: flex;
    flex-direction: column;
    @include m.desktop{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
  }

  &__logo{
    text-align: center;
    @include m.texto-fluido(1rem, 4rem);
    @include m.tablet {
        text-align: left;
        display: inline-block;
    }
  }

  &__navigation{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    @include m.tablet{
        justify-content: flex-end;
    }
    
  }

  &__btn-nav{
    @include m.links-center;
  }

  &__link-nav{
    color: v.$negro;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: v.$bold;
  }

  &__btn{
      
  }
}